@import '../styles/globals';

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*
 * Header
 */
.header__container {
  background: url('../layouts/images/header-bg.jpg') no-repeat;
  background-size: cover;
  background-color: #CF2B6E;

  // Get the nicely rounded bottom-edge
  border-radius: 0 0 50% 50% / 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.header__top {
  align-items: center;
  display: flex;
  height: 100px;
  position: relative;

  @include for-tablet-portrait-up {
    height: 150px;
  }
}

.header_dashes {
  background: url('../layouts/images/dash-pattern.svg') transparent;
  background-size: 85px 6px;
  width: 45px;
  height: 100px;
  position: absolute;
  opacity: 0.2;
  top: 0;

  @include for-tablet-portrait-up {
    height: 100%;
    width: 85px;
  }
}

.header__logo-link {
  font-size: 0;
  transition: opacity 100ms ease;
}

.header__logo-link:hover {
  opacity: 0.7;
}

.header__logo {
  height: 49px;
  margin-left: 24px;
  width: 108px;

  @include for-tablet-portrait-up {
    margin-left: 64px;
  }
}

.header__navbar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 24px;

  @include for-tablet-portrait-up {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 64px;
  }
}

.header__navbar a {
  color: #fff;
  font-size: 16px;
  margin: 4px 0;
  opacity: 0.8;
  text-align: right;
  text-decoration: none;
  transition: opacity 100ms ease;

  @include for-tablet-portrait-up {
    margin: 0 0 0 48px;
  }
}

.header__navbar a:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.header__divider {
  background-color: #fff;
  border: 0;
  height: 1px;
  opacity: 0.2;
  margin: 0;
  width: 100%;

  @include for-tablet-portrait-up {
    display: none;
  }
}

.header__hero {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -1.4px;
  line-height: 36px;
  margin: 64px 24px 106px;
  text-align: center;

  @include for-tablet-portrait-up {
    margin: 0 auto 124px;
    max-width: 480px;
  }

  @include for-tablet-landscape-up {
    font-size: 48px;
    line-height: 48px;
    margin: 48px auto 148px;
    max-width: 580px;
  }
}

/*
 * Messages
 */

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.99);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.messages__container {
  height: 180px;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

.messages__avatar-title {
  color: #fff;
  font-size: 11px;
  left: 12px;
  opacity: 0.6;
  position: absolute;
  top: -20px;
}

.messages__avatar {
  background: url('../layouts/images/avatar-junwon.png') no-repeat;
  border-radius: 100%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  height: 30px;
  left: -44px;
  position: absolute;
  top: 0;
  width: 30px;

  @include resolution(2) {
    background: url('../layouts/images/avatar-junwon@2x.png') no-repeat;
    background-size: 30px 30px;
  }
}

.messages__message {
  background-color: #1d1d1d;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
  max-width: 280px;

  animation-name: messageFadeIn;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-fill-mode: backwards;

  @include for-tablet-portrait-up {
    max-width: 340px;
  }
}

.messages__message p {
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 8px;
  padding: 12px 16px;
}

.messages__message-1 {
  animation-delay: 400ms;
}

.messages__message-2 {
  animation-delay: 1200ms;
}

/*
 * Content
 */

.content__container {
  flex: 1;
}

/*
 * Bullets
 */

.bullets__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.bullets__bullet {
  display: flex;
  margin-bottom: 32px;

  @include for-tablet-landscape-up {
    margin: 0 24px;
  }
}

.bullets__bullet-content {
  display: flex;
  flex-direction: column;
}

.bullets__bullet-icon {
  align-items: center;
  background-image: linear-gradient(-236deg, #E33535 0%, #CF2B6E 100%);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.20);
  border-radius: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 60px;
  margin-right: 20px;
  position: relative;
  width: 60px;
}

.bullets__bullet-icon::after {
  display: block;
  content: '';
}

.bullets__bullet-projects .bullets__bullet-icon::after {
  background: url('../layouts/images/icon-projects.svg') no-repeat;
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
}

.bullets__bullet-speakers .bullets__bullet-icon::after {
  background: url('../layouts/images/icon-speakers.svg') no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.bullets__bullet-tutorials .bullets__bullet-icon::after {
  background: url('../layouts/images/icon-tutorials.svg') no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.bullets__bullet h3 {
  font-size: 18px;
  margin: 0 0 4px;
}

.bullets__bullet p {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.7;
  margin: 0;
  max-width: 260px;
}

/*
 * Footer
 */

.footer__container {
  border-top: solid 1px #e8e8e8;
  padding: 32px 0;
}

.footer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
}

.footer__logo-end {
  float: left;
  margin-right: 20px;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 8px;
}

.footer__text {
  font-size: 14px;
  margin: 0;
  opacity: 0.7;
}
