@import '../styles/globals';

.page {
  display: flex;
  flex-direction: column;
}

/*
 * Messages
 */

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.99);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.messages__container {
  height: 280px;
  margin: 0 auto;
  position: relative;
  top: -24px;
}

.messages__avatar-title {
  color: #fff;
  font-size: 11px;
  left: 12px;
  opacity: 0.6;
  position: absolute;
  top: -20px;
}

.messages__avatar {
  background: url('../layouts/images/avatar-junwon.png') no-repeat;
  border-radius: 100%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  height: 30px;
  left: -44px;
  position: absolute;
  top: 0;
  width: 30px;

  @include resolution(2) {
    background: url('../layouts/images/avatar-junwon@2x.png') no-repeat;
    background-size: 30px 30px;
  }
}

.messages__message {
  background-color: #1d1d1d;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 0 auto;
  max-width: 280px;
  position: relative;

  animation-name: messageFadeIn;
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-fill-mode: backwards;

  @include for-tablet-portrait-up {
    max-width: 340px;
  }
}

.messages__message p {
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 8px;
  padding: 12px 16px;
}

.messages__message-1 {
  animation-delay: 400ms;
}

.messages__message-2 {
  margin-bottom: 8px;
  animation-delay: 1200ms;
}

.messages__message-3 {
  animation-delay: 2000ms;
}

.messages__message-combo {
  background-color: #fff;
  border: solid 1px #d4d4d4;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  display: block;
  width: 270px;

  transition: opacity 100ms ease;
}

.messages__message-combo hr {
  background: #d4d4d4;
  border: 0;
  display: block;
  height: 1px;
  margin: 0;
  width: 100%;
}

.messages__message-combo a {
  color: #1d1d1d;
  border-radius: 5px;
  display: block;
  padding: 12px 0 10px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  
  transition: opacity 100ms ease;
}

.messages__message-combo a:hover {
  background: #fafafa;
  opacity: 0.7;
}

.messages__message-combo h3 {
  font-size: 16px;
  margin: 0 0 0 64px;
}

.messages__message-combo p {
  margin: 0 0 0 64px;
  padding: 0;
  opacity: 0.7;
}

// .messages__message-slack h3::before, {
//   background: url('../layouts/images/icon-slack.svg') no-repeat;
//   background-size: 24px 24px;
//   content: '';
//   display: block;
//   height: 24px;
//   position: absolute;
//   left: 20px;
//   top: 18px;
//   width: 24px;

//   transition: transform 800ms ease;
// }

.messages__message-survey h3::before {
  background: url('../layouts/images/icon-file-plus.svg') no-repeat;
}

.messages__message-facebook h3::before {
  background: url('../layouts/images/icon-facebook-blue.svg') no-repeat;
}

.messages__message-survey h3::before,
.messages__message-facebook h3::before {
  background-size: 22px 22px;
  content: '';
  display: block;
  position: absolute;
  opacity: 0.7;

  height: 22px;
  left: 20px;
  top: 18px;
  width: 22px;

  transition: transform 200ms ease;
}

.messages__message-slack:hover h3::before,
.messages__message-survey:hover h3::before,
.messages__message-facebook:hover h3::before {
  transform: rotate(20deg);
}

/*
 * Content
 */

.content__container {
  flex: 1;
  margin-bottom: 24px;

  @include for-tablet-landscape-up {
    margin-bottom: 48px;
  }
}

.content__divider {
  background: #eee;
  border: 0;
  height: 1px;
  margin: 64px auto 0;
  width: 100%;
}

/*
 * Bullets
 */

.bullets__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.bullets__bullet {
  display: flex;
  margin-bottom: 32px;

  @include for-tablet-landscape-up {
    margin: 0 24px;
  }
}

.bullets__bullet-content {
  display: flex;
  flex-direction: column;
}

.bullets__bullet-icon {
  align-self: center;
  align-items: center;
  background-image: linear-gradient(-236deg, #E33535 0%, #CF2B6E 100%);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.20);
  border-radius: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 60px;
  margin-right: 20px;
  position: relative;
  width: 60px;
}

.bullets__bullet-icon::after {
  display: block;
  content: '';
}

.bullets__bullet-projects .bullets__bullet-icon::after {
  background: url('../layouts/images/icon-projects.svg') no-repeat;
  background-size: 22px 22px;
  height: 22px;
  width: 22px;
}

.bullets__bullet-speakers .bullets__bullet-icon::after {
  background: url('../layouts/images/icon-speakers.svg') no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.bullets__bullet-tutorials .bullets__bullet-icon::after {
  background: url('../layouts/images/icon-tutorials.svg') no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.bullets__bullet h3 {
  font-size: 18px;
  margin: 0 0 4px;
}

.bullets__bullet p {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.7;
  margin: 0;
  max-width: 260px;
}

/*
 * Calendar Events
 */

.upcomingEvents__title {
  font-size: 22px;
  margin-top: 64px;
  text-align: center;
}

.upcomingEvents__container {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px auto 40px;
}

.upcomingEvents__day {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px;
  position: relative;
}

.upcomingEvents__day--today {
  border-radius: 5px;
}

.upcomingEvents__today-marker {
  background: #E33535;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 6px;
  position: absolute;
  text-align: center;
  top: -10px;
}

.upcomingEvents__day-title {
  font-size: 16px;
  margin: 0;
  padding: 12px 16px;
  text-align: center;
}

.upcomingEvents__day-title span {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 8px;
  opacity: 0.7;
}

.upcomingEvents__event {
  background-color: #fff;
  border: solid 1px #d4d4d4;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  color: #1d1d1d;
  display: block;
  padding: 12px;
  text-decoration: none;

  transition: opacity 100ms ease;
}

.upcomingEvents__event:hover {
  opacity: 0.7;
}

.upcomingEvents__event h3 {
  font-size: 14px;
  margin: 0;
}

.upcomingEvents__event h4 {
  font-size: 12px;
  font-weight: normal;
  margin: 8px 0 0;
  opacity: 0.7;
}

// .upcomingEvents__container {
//   display: flex;
//   flex-direction: column;
//   margin: 32px 24px 0;
// }

// .upcomingEvents__subtitle {
//   font-size: 16px;
//   text-align: center;
//   margin: 0;
// }

// .upcomingEvents__title {
//   font-size: 24px;
//   text-align: center;
//   margin: 12px 0 40px;
// }

// .upcomingEvents__list {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   @include for-tablet-portrait-up {
//     flex-direction: row;
//     flex-wrap: wrap;
//   }
// }

// .upcomingEvents__event {
//   background-color: #fff;
//   border: solid 1px #d4d4d4;
//   border-radius: 8px;
//   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
//   color: #1d1d1d;
//   display: block;
//   padding: 18px 24px 18px 32px;
//   text-decoration: none;

//   transition: opacity 100ms ease;

//   @include for-tablet-portrait-up {
//     margin: 0 24px;
//   }
// }

// .upcomingEvents__event:hover {
//   opacity: 0.7;
// }

// .upcomingEvents__event-subtitle {
//   font-size: 12px;
//   opacity: 0.7;
//   margin: 0 0 6px;
// }

// .upcomingEvents__event-title{
//   font-size: 16px;
//   margin: 6px 0 12px;
//   position: relative;
// }

// .upcomingEvents__event-title:before {
//   background: #E33535;
//   border-radius: 100%;
//   content: '';
//   display: block;
//   height: 6px;
//   position: absolute;
//   left: -16px;
//   top: 6px;
//   width: 6px;
// }

// .upcomingEvents__event h4 {
//   font-size: 14px;
//   font-weight: normal;
//   line-height: 16px;
//   opacity: 0.7;
//   margin: 6px 0 0;
//   max-width: 260px;
// }
