html {
  color: #1d1d1d;
  box-sizing: border-box;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.italics {
  font-style: italic;
}